/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-gutengram {
}

.tumbili-submit {
	color: #fff;
	padding: 6px 9px;
	font-size: 13px;
	transition: all 0.5s ease;
	border-width: 0px;
	&:hover,
	&:active {
		background-color: darken($blue, 5%);
	}
}
