/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-gutengram {
}

.tumbili-submit {
	border: none;
	background-color: $blue;
	transition: all 0.5s ease;
	&:hover,
	&:active {
		background-color: darken($blue, 5%);
	}
}
