/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-tumbili-mailchimp-for-gutenberg {
	margin: 0 auto;
}

.display-flex {
	display: flex;
	flex-wrap: wrap;
	> * {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

.flex-grow {
	flex-grow: 1;
}

/**
Labels
**/
.tumbili-form-control {
	input,
	label {
		display: block;
	}
	input {
		width: 100%;
	}
}

/**
Submit
**/
.tumbili-submit {
	width: 100%;
	height: 100%;
}

/**
Response
**/
.tumbili-response {
	text-align: center;
}

/**
Interactivity
**/
.tumbili-container {
	transition: all 0.3s ease;
}
.isSubmitting {
	filter: blur(1px);
}

.is-shown {
	transition: all 400ms;
	transform: scaleY(1);
}
.is-hiding {
	opacity: 0;
	transform: scaleY(0);
}
