/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-tumbili-mailchimp-for-gutenberg {
	margin: 0 auto;
	max-width: 740px;
}

.display-flex {
	display: flex;
	flex-wrap: wrap;
}

.flex-grow {
	flex-grow: 1;
}
