/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

// THIS CLASS IS NOT BEING RENDER SO I'M ADDING THIS AS WELL
.tumbili-form,
.wp-block-cgb-tumbili-mailchimp-for-gutenberg {
	margin: 0 auto;
	position: relative;
}

.display-flex {
	display: flex;
	flex-wrap: wrap;
	> * {
		padding-left: $gutter;
		padding-right: $gutter;
	}
}

.flex-grow {
	flex-grow: 1;
}

.flex-is-at-bottom {
	display: flex;
	align-items: end;
}
/**
Labels
**/
.tumbili-form-control {
	margin-bottom: 1rem;
	input,
	select,
	label {
		display: block;
	}
	input,
	select {
		width: 100%;
	}
	&.is-full-width {
		flex-basis: 100%;
	}
}

/**
Submit
**/
.tumbili-submit {
	width: 100%;
	//height: 100%;
	background-color: $blue;
	border-color: $blue; // some themes might add a default border
	.tumbili-loader {
		display: inline-block;
		margin-right: 0.5rem;
	}
	.tumbili-loader.is-hiding {
		width: 0;
		margin-right: 0;
		display: none;
	}
}

/**
Response
**/
.tumbili-response {
	text-align: center;
	position: absolute;
	width: 100%;
	max-width: 440px;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	padding: 0.5rem;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.08);
	border-radius: 0.25rem;

	&:after {
		content: '';
		background-image: url('../assets/reload.svg');
		background-size: 24px 24px;
		height: 24px;
		width: 24px;
		margin-left: 0.5rem;
		display: inline-block;
		vertical-align: middle;
	}
}

/**
Interactivity
**/
.tumbili-container {
	transition: all 0.3s ease;
	margin-bottom: -1rem;
}
.isSubmitting {
	input {
		filter: blur(1px);
	}
}

.will-animate {
	transition: all 400ms;
}
.is-showing {
	opacity: 1;
}
.is-hiding {
	opacity: 0;
	visibility: hidden;
}

@import 'loaders/loaders';
